.preview .image {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    object-fit: contain;
    justify-content: center;
}

.preview .image img {
    width: 100%;
    max-width: 11.25rem;
    transition: transform 0.3s;
}

.tukhover img:hover {
    transform: scale(1.1);
}

.preview .image1 {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.preview .image1 img {
    width: auto;
    max-width: 11.25rem;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s;
}

.preview .image2 {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.preview .image2 img {
    width: auto;
    max-width: 30rem;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s;
}

.preview .image3 {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.preview .image3 img {
    width: auto;
    max-width: 30rem;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s;
}



