html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font: 1rem 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    user-select: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s, backdrop-filter 0.3s;
    font-weight: 600;
}

#landing, .imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colorpar, .content p, .organization p {
    color: #736414;
}

.colorpar, .content p {
    max-width: 31.25rem;
}

.jobdesc {
    text-align: start;
    margin-left: -20rem;
}

.jobdesc p {
    margin-bottom: -0.5rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    margin-bottom: 6.25rem;
}

.navbutton {
    margin-right: 2.5rem;
    text-decoration: none;
    color: #1F4096;
    transition: color 0.3s, text-decoration 0.3s;
}

.navbutton:hover, .navbutton.active {
    color: #13285a;
    text-decoration: underline;
    text-underline-offset: 0.625rem;
}

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 12.5rem auto 6.25rem;
}

.content {
    flex: 2;
    text-align: left;
    margin-top: -7.5rem;
}

.content img {
    width: 100%;
    max-width: 25rem;
    margin-left: 0;
}

.organization {
    margin-top: 14.375rem;
}

.organization p {
    max-width: 18.75rem;
    text-align: end;
    margin-left: 3.7rem;
}

.organization img {
    align-content: end;
    margin-left: 8.125rem;
    width: 60%;
    max-width: 18.75rem;
}

.preview {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6.25rem auto;
}

.preview .content {
    flex: 1;
    text-align: left;
}

.preview .layout1 {
    margin-left: 1.25rem;
    width: 100%;
}

.preview .layout1 img {
    width: 100%;
    max-width: 25rem;
    margin-top: -1.875rem;
}

.preview .picture {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.preview .picture img {
    width: 100%;
    max-width: 11.25rem;
    object-fit: contain;
    transition: transform 0.3s;
}

.preview .picture img:hover, .imagecontainer:hover {
    transform: scale(1.1);
}

.donday {
    color: #820000;
    margin-bottom: -0.625rem;
}

.donday h4 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.button {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1F4096;
    border: none;
    border-radius: 0.3125rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #13285a;
}

.target {
    color : #40149E;
}

.rps {
    color: #3C3C3C;
}

.blue {
    color: #1F4096;
}

.timeline-container {
    background-color: #1F4096;
    padding: 2rem;
    color: white;
    align-content: center;
}

.timeline-container table {
    width: 100%;
    border-collapse: collapse;
}

.timeline-container th, .timeline-container td {
    border: 1px solid white;
    padding: 0.5rem;
    text-align: center;
}

.timeline-container .free {
    background-color: #3A5BA0;
}

@media (min-width: 768px) {
    .preview {
        flex-direction: row;
    }

    .preview .picture {
        margin-left: 8.75rem;
        margin-top: 0;
    }
}

